#main_menu  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;     
}

#main_menu  {
    width: 100%;
    height: 520px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;     
    display: none;
}

/* Menu Buttons */
#main_menu .mm_btn {
    width: 126px;
    height: 130px;
    overflow: visible;
}

#main_menu .mm_btn  label{
    width: 126px;
    height: 130px;
    background-repeat: no-repeat;
    float: left;
}

#main_menu .mm_btn .txt {
    width: 592px;
    height: 180px;
    margin-left: 80px;
    background-repeat: no-repeat;
    position: absolute;
    display: none;
    pointer-events: none;    
} 

#main_menu .mm_btn:hover .txt {
    display: block;
} 

#story_mode {
    background-image: url(../images/menu/main_menu/btn_story_mode.png);
}
#story_mode:hover {
    background-image: url(../images/menu/main_menu/btn_story_mode_h.png);
}
#story_mode_txt {
    background-image: url(../images/menu/main_menu/txt_story_mode.png);
}

#vs_mode {
    background-image: url(../images/menu/main_menu/btn_vs_mode.png);
}
#vs_mode:hover {
    background-image: url(../images/menu/main_menu/btn_vs_mode_h.png);
}
#vs_mode_txt {
    background-image: url(../images/menu/main_menu/txt_vs_mode.png);
}

#stat {
    background-image: url(../images/menu/main_menu/btn_stat.png);
}
#stat:hover {
    background-image: url(../images/menu/main_menu/btn_stat_h.png);
}
#stat_txt {
    background-image: url(../images/menu/main_menu/txt_stat.png);
}

#arsenal {
    background-image: url(../images/menu/main_menu/btn_arsenal.png);
}
#arsenal:hover {
    background-image: url(../images/menu/main_menu/btn_arsenal_h.png);
}
#arsenal_txt {
    background-image: url(../images/menu/main_menu/txt_arsenal.png);
}