#race_sel_menu  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
}    

#race_sel_menu  {
    display: none;
    height: 520px;    
}   

#race_sel_menu .header {
    font-size: 45px;
}

#race_sel_menu .pl_holder {     
    height: 100%;
    width: 50%;
    float: left;
    overflow: visible;
}

#race_sel_menu .pl_holder .race_img {
    background: url(../images/menu/race_sel_menu/img_bears.png) -30px 0px no-repeat;        
    width: 100%;
    height: 210px; 
    margin-top: 40px;
}        

#race_sel_menu .pl_holder .big_btn {
    margin-top: -250px;
    margin-bottom: 120px;
    font-size: 25px;
}

#race_sel_menu .pl_holder .raceName {
    width: 130px;
    height: 50px; 
    float: left;
}

#race_sel_menu .pl_holder .desc_panel {    
    width: 386px;
    height: 150px; 
    padding: 30px;  
    padding-top: 0px;    
    background-position: -25px 0px; 
}  

#race_sel_menu .pl_holder .small_btn {
    width: 114px;
    height: 45px;
    font-size: 14px;
    padding-top: 6px;
    padding-left: 3px;
    background-position: 0px 0px;     
    margin-top: -50px;    
}

#race_sel_menu .pl_holder .small_btn:hover {
    width: 117px;
    height: 45px;
    font-size: 16px;    
    padding-top: 4px;    
    padding-left: 0px;    
    background-position: -5px 0px;    
}  

#race_sel_menu .pl_holder .race_ready {
    background: url(../images/menu/race_sel_menu/ready_sprite.png) 0px 0px no-repeat; 
    width: 256px;
    height: 251px;
    position: absolute;
    display: none;
    top: 130px;
    margin-left: 30px;
    -webkit-animation: readyplay .3s steps(6) infinite;
       -moz-animation: readyplay .3s steps(6) infinite;
        -ms-animation: readyplay .3s steps(6) infinite;
         -o-animation: readyplay .3s steps(6) infinite;
            animation: readyplay .3s steps(6) infinite;          
}

#race_sel_menu .back_btn {
    margin-left: 50px;
    margin-top: -40px;
};

@-webkit-keyframes readyplay {
   from { background-position: 0px; }
     to { background-position: -1536px; }
}
@-moz-keyframes readyplay {
   from { background-position:    0px; }
     to { background-position: -1536px; }
}
@-ms-keyframes readyplay {
   from { background-position:    0px; }
     to { background-position: -1536px; }
}
@-o-keyframes readyplay {
   from { background-position:    0px; }
     to { background-position: -1536px; }
}
@keyframes readyplay {
   from { background-position:    0px; }
     to { background-position: -1536px; }
}  